<%- include('../partials/sidebar') %>
<main class="main-content">
    <%- include('../partials/header') %>  
    <section id="profile" class="section active">
        <% if(user) {%>
            <form action="/updateProfile" method="post" id="profile-form" class="form-grid">
                <div class="form-group">
                    <label for="profile-name">Username</label>
                    <input type="text" id="profile-name" name="username" value="<%= user.userName%>" required>
                </div>

                <div class="form-group">
                    <label for="profile-phone">Phone Number</label>
                    <input type="tel" id="profile-phone" name="phonenumber" value="<%= user.phonenumber  %>" required>
                </div>

                <div class="form-group">
                    <label for="profile-code">Agent Code</label>
                    <input type="number" id="profile-code" name="agentcode" value="<%= user.agentCode %>" readonly required>
                </div>
 
                <div class="form-group">
                    <input type="hidden" name="agentId" value="<%= user.agentId %>" required>
                    <input type="hidden" name="userId"  value="<%= user.userId %>" required>
                </div>

                <button type="submit" class="btn">Update Profile</button>
            </form>
        <%}else{ %>
            <div>
                <h2>Access to this Resource is Restricted. <a href="/login">Login</a></h2>
            </div>
        <% } %>
    </section>
</main>
<script>
    const successMsg = <%- JSON.stringify(success || null) %> ;
    const errorMsg   = <%- JSON.stringify(error || null) %>;

    if(successMsg){ alert(successMsg); }
    if(errorMsg){alert(errorMsg);}
</script>
